<%- partial('_partial/head') %>
<body>
  <%- partial('_svg/symbol') %>
  <%- body %>
  <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>

  <!--
  <script src="/js/jquery.js" charset="utf-8"></script>
  <script src="/js/swiper.jquery.js" charset="utf-8"></script>
  <script src="/js/main.js" charset="utf-8"></script>
  -->

</body>
</html>
