$linkColor: hsl(200, 100%, 40%);
$navBackgroundColor: hsl(200, 100%, 80%);
$navLinkColor: hsl(200, 100%, 20%);

@import "highlight-googlecode.css";
@import "swiper.css";

html {
  font-size: 14px;
  height: 100%;
  @media (max-width: 414px){
    font-size: 10px;
  }
}
body {
  box-sizing: border-box;
  min-height: 100%;
  margin: 0;
  padding: 0;
  color: #444;
  font-family: Tahoma, \5B8B\4F53, Arial;
  -webkit-font-smoothing:antialiased;
  padding: 2rem 2rem 2rem 14rem;
  position: relative;
  > svg{ display: none; }
  @media (max-width: 414px){
    padding: 120px 1rem 1rem;
  }
}
a{ color: $linkColor; text-decoration: none; }
p, dl, dt, dd, pre, blockquote{ margin: 0; padding: 0; }
ul, ol, li{ margin: 0; padding: 0; list-style:none; }
h1, h2, h3, h4, h5, h6{
  font-size: 100%;
  font-weight: normal;
  margin: 0;
}
em{ font-style: normal; }
img{ border: none; }
code{
  background-color: #eee;
  display: inline-block;
  vertical-align: middle;
  padding: 0 .4rem;
}
blockquote{
  display: block;
}

svg.icon{
  display: inline-block;
  vertical-align: middle;
  height: 1em;
  width: 1em;
}

figure.highlight{
  background-color: #f8f8f8;
  box-sizing: border-box;
  th, td{
    padding: 0;
  }
  .gutter{
    color: #ccc;
    text-align: right;
  }
  .code{
    padding-left: .5rem;
  }
}

@define-placeholder clearfix::after{
  content: "";
  clear: both;
  display: table;
}

.gallery{
  background-color: #f1f1f1;
  position: relative;
  overflow: hidden;
}

.sidebar{
  background-color: hsl(200, 100%, 80%);
  box-sizing: border-box;
  color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 12rem;

  > header{
    margin: 1rem .8rem;
    .mylogo{
      color: #fff;
      display: block;
      font-size: 1.8rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: .5rem;
      img{
        max-width: 100%;
        vertical-align: top;
      }
    }
    h2{
      font-size: .8rem;
    }
  }
  > nav{
    margin: 1rem 0;
    a{
      background-color: hsl(200, 100%, 85%);
      box-sizing: border-box;
      color: hsl(200, 100%, 80%);
      display: block;
      padding: .6rem 1rem .6rem 0;
      margin: .8rem 0 .8rem .8rem;
      font-size: 1.2rem;
      text-align: right;
      transition:background-color .4s, margin-left .4s;
      em{
        display: inline-block;
        vertical-align: middle;
      }
      svg{
        fill: hsl(200, 100%, 80%);
        margin-right: .2rem;
      }
    }
    a:hover,
    a.now{
      background-color: hsl(200, 100%, 100%);
    }
    a.now{
      color: $linkColor;
      cursor: default;
      svg{ fill: $linkColor; }
    }
  }
  > footer{
    color: rgba(255,255,255,.45);
    position: absolute;
    bottom: .8rem;

    left: 0;
    padding: 0 .8rem;
    line-height: 1.8;
    p{
      font-size:.8rem;
    }
    a{
      color: #fff;
    }
  }

  @media (max-width: 414px){
    height: auto;
    width: 100%;
    > nav{
      margin-bottom: 0;
      &:after{
        content: "";
        clear: both;
        display: table;
      }
      a{
        float: left;
        margin: 0 0 0 .4rem;
        padding: .4rem .6rem;
      }
    }
    > footer{
      display: none;
    }
  }
}

.gallery{
  a{
    display: block;
  }
  img{
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
  }
}

.video-container{
  > iframe{
    max-width: 100%;
  }
}

body > footer{
  color: #999;
  text-align: center;
  margin-top: 2rem;
  a{ color: #666; }
}

.articles{
  .article{
    border-bottom: 1px dashed #eee;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    &:last-child{
      border-bottom: none;
      padding-bottom: 0;
      margin-bottom: 0;
    }
    a{
      color: #333;
    }
    > header h1{
      font-size: 2rem;
      > a{
        background-color: hsl(200, 100%, 98%);
        border-left: 3px solid #ccc;
        border-left-color: $linkColor;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        padding: .2rem 0;
        text-overflow: ellipsis;
        text-indent: .5em;
        transition: background-color .4s;
        &:hover{
          background-color: hsl(200, 100%, 92%);
        }
      }
    }
    > footer{
      margin-top: 1rem;
    }
  }
}

.article{
  header{
    margin-bottom: .5rem;
    h1{
      font-size: 2rem;
    }
  }
  .body{
    margin-top: 2rem;
    h1, h2, h3, h4, h5, h6, p, blockquote, figure{
      margin: 1rem 0;
    }
    h1, h2, h3, h4, h5, h6{
      margin-top: 2em;
    }
    h1{
      font-size: 2rem;
    }
    h2{
      font-size: 1.8rem;
    }
    h3{
      background-color: hsl(200, 100%, 98%);
      border-bottom: 1px solid hsl(200, 100%, 40%);
      font-size: 1.6rem;
      padding: .6rem .6rem;
    }
    h4{
      font-size: 1.4rem;
    }
    h5{
      font-size: 1.2rem;
    }
    h6{
      font-size: 1rem;
    }
    img{
      vertical-align: top;
      max-width: 100%;
    }
    > ol{
      padding-left: 1rem;
      > li { list-style: decimal inside; }
    }
    > ul{
      padding-left: 1rem;
      > li { list-style: disc inside; }
    }
    > table{
      border-collapse: collapse;
      th, td{
        border: 1px solid #ddd;
        padding: .4rem .6rem;
      }
      td{
        font-size: .9rem;
      }
    }
    hr{
      border: dashed #ccc;
      border-width: 1px 0 0;
      margin: 1rem 0;
    }
    dd{
      margin-left: 1rem;
    }
    del{
      color: #999;
    }
    blockquote{
      font-size: .85rem;
    }
  }
  .meta{
    margin: 0 0 2rem;
    .date, .category, .tag-list{
      color: #666;
      display: inline-block;
      vertical-align: middle;
      margin-right: .4rem;
      white-space: nowrap;
    }
    .date{
      svg, time{
        display: inline-block;
        vertical-align: middle;
      }
    }
    .category{
      a{
        background-color: #444;
        border: 1px solid #444;
        color: #fff;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        font-size: .85rem;
        line-height: 1rem;
        padding: 0 1rem 0 1rem;
        &:before{
          background-color: #444;
          border: solid #fff;
          border-width: 1px 1px 0 0;
          content: "";
          position: absolute;
          right: -.5rem;
          top: .2rem;
          height: .6rem;
          width: .6rem;
          transform: rotate(45deg);
          z-index: 1;
        }
        &:last-child{
          background-color: #fff;
          color: #444;
          &:before{
            display: none;
          }
        }
      }
    }
    .tag-list{
      padding-right: .4rem;
      li{
        display: inline-block;
        margin-right: .8rem;
        &:last-child{ margin-right: 0; }
      }
      a{
        background-color: #444;
        color: #fff;
        display: inline-block;
        padding: 0 .6rem;
        position: relative;
        font-size: .85rem;
        line-height: 1rem;
        white-space: nowrap;
        &:before{
          content: "";
          position: absolute;
          right: -.5rem;
          top: 0;
          border: .5rem solid rgba(255,255,255,0);
          border-right-width: 0;
          border-left-color: #444;
        }
        &:after{
          background-color: rgba(255,255,255,.85);
          content: "";
          border-radius: 50%;
          height: .25rem;
          width: .25rem;
          position: absolute;
          right: -.2rem;
          top: 50%;
          margin-top: -.16rem;
        }
      }
    }
  }
  .more-link{
    transition: color .4s;
    &:hover{ color: $linkColor; }
  }
  .footer{
    margin-top: 2rem;
  }
}

.paging{
  margin-top: 2rem;
  text-align: center;
  span, a{
    border: 1px solid #fff;
    display: inline-block;
    vertical-align: middle;
    padding: .6rem 1rem;
    margin: 0 .2rem;
  }
  a{
    background-color: #eee;
    color: #333;
    text-decoration: none;
    transition: background-color .4s, border-color .4s, color .4s;
    &:hover{
      background-color: #fff;
      border-color: hsl(200, 100%, 40%);
      color: hsl(200, 100%, 40%);
    }
  }
}

.archives{
  .year{
    font-size: 1.6rem;
    a{
      color: #333;
    }
  }
  > ul{
    border-left: 1px dashed #ddd;
    margin-left: 1rem;
    padding: .5rem .5rem .5rem 1rem;
    li{
      margin-bottom: 1rem;
      position: relative;
      &:last-child{
        margin-bottom: 0;
      }
    }
    h1{
      margin-left: 80px;
    }
    .date{
      color: #333;
      position: absolute;
      left: 0;
      top: 0;
    }
    .title{
      color: #333;
      display: inline-block;
      vertical-align: top;
      font-size: 1.2rem;
    }
  }
}
